.logo-containter {
    display: flex;
}

.logo-title {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 18px;
    line-height: 5px;
    color: black;
}

.right-side-container {
    margin-top: 1%;
    width: auto;
    display: flex;
}

.hello-mess {
    padding-top: 1.5%;
    padding-right: 1%;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 24px;
    color: white;
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    background-color: #232f3e;
    justify-content: space-between;
    margin-bottom: 1%;
    z-index: 200;
}

.content {
  padding-top: 6%;
}

.logo-containter-container {
    padding: 0.5%;
    background-color: #FF8A5B;
}

a {
    text-decoration: none !important;
}

.dropdown-toggle {
    background-color: #FF8A5B !important;
}

.dropdown-toggle::after {
    display: none !important; 
}
