.book-info-img {
    width: 64px;
    height: 64px;
    margin-right: 1%;
}

.book-info-title {
    text-transform: capitalize;
    font-size: 16px;
}

.book-info-container {
    display: flex;
    justify-content: space-between;
}

.book-info-button-container {
    display: flex;
    justify-content: space-around;
}

.book-info-time {
    font-size: 14px;
}

.order-info-id {
    width: 10%;
}

.order-info-book {
    width: 60%;
}

.order-info-quantity {
    width: 10%;
}

.order-info-action {
    width: 7%;
}
