:root {
    --font-color: black;
}

.book-info-img {
    width: 100px;
    height: 100px;
    color: var(--font-color);
}

.order-container {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-author {
    margin-right: 2%;
}

.order-category {
    text-transform: capitalize;
}

.order-left-side {
    width: 40%;
    display: flex;
}

.book-info-second-line {
    display: flex;
    justify-content: space-between;
}

.order-quantity {
    display: flex;
}

.imgimg {
    margin-right: 2%;
}
